<h2>Saved Places</h2>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let place of places | paginate: { itemsPerPage: PER_PAGE, currentPage: page }">
    <a class="place-link" routerLink="/places/{{place.id}}">
      {{place.name}}
    </a>

    &nbsp;

    <button mat-icon-button color="warn" title="Delete"
            (click)="delete(place)">
      <mat-icon aria-label="none">remove_circle_outline</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<div *ngIf="places.length > PER_PAGE">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
